/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
* {
  -webkit-tap-highlight-color: transparent;
}
/*--------------------*/
body {
  font-size: 20px;
}

.wrapper {
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: content-box;
  width: 100%;
}

.header {
  background-color: rgb(250, 244, 70);
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    .header__logo {
      font-weight: 700;
      font-size: 30px;
      cursor: pointer;
      color: inherit;
    }
    .header__content {
    }
  }
}

.home {
  .home__container {
    padding: 20px;
    .home__cards {
    }
  }
}

.card {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  color: #000;

  .card__img {
    background-color: #a9a9a9;
    border-radius: 10px;
    border: 3px solid #a9a9a9;

    img {
      max-width: 200px;
      border-radius: 10px;
    }
  }
  .card__content {
    .card__title {
      font-size: 25px;
      font-weight: 800;
    }
    .card__subtitle {
      font-weight: 600;
    }
  }
}

.full-item {
  .full-item__container {
    display: flex;
    flex-wrap: wrap;
    .full_item__slider {
      .full-item-slider__items {
        display: inline-flex;
        flex-direction: column;
        .full-item-slider__item {
          cursor: pointer;
          transition: 0.3s;

          img {
            width: 150px;
            border-radius: 10px;
            margin: 5px;
          }

          &.active {
            img {
              border: 2px solid rgb(236, 13, 13);
            }
          }
        }
      }
    }
    .full-item__active-img {
      img {
        max-width: 700px;
        max-height: 625px;
      }
    }
    .full-item__content {
      margin: 10px;
      .full-item__price {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 15px;

        span{
          color: rgb(255, 183, 0);
        }
      }
      .full-item__sizes {
        display: flex;
        background-color: rgb(120, 120, 120);
        font-size: 32px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 15px;
        .full-item__size {
          padding: 2px 4px;
          margin: 2px;
          border-radius: 5px;
          cursor: pointer;
          background-color: rgb(201, 201, 201);
          transition: 0.2s;

          &.active{
            background-color: rgb(241, 241, 241);
          }
          &.disabled{
            opacity: 0.4;
          }
        }
      }
      .full-item__desciption {
        font-size: 30px;
        font-weight: 600;
      }
    }
  }
}
